body {
    background-color: #f3f9f2;
    color: #170307;
}

.top-heading {
    background-color: #978979;
}

.top-title {
    color: #971b2f;
}

.top-directions {
}

.top-menu {
    color: #978979;
    background-color: #b2b2b2;
}

.other {
    background-color: #f3f9f2;
    color: #170307;
    color: #b2b2b2;
    color: #cbcbcb;
    color: #971b2f;
    background-color: #978979;
}
