body {
    background-color: #f3f9f2;
    color: #170307;
}

.top-heading {
    background-color: #978979;
}

.top-title {
    color: #971b2f;
}

.top-directions {
}

.top-menu {
    color: #978979;
    background-color: #b2b2b2;
}

.other {
    background-color: #f3f9f2;
    color: #170307;
    color: #b2b2b2;
    color: #cbcbcb;
    color: #971b2f;
    background-color: #978979;
}
    
        <div class="top-menu">
            <a href="/"><img alt="Home" src="icons/home_icon.png"></a>
            <div class="top-directions">September 26, 2016 in Cambridge, MA at the Harvard Museum of Natural History</div>
        </div>
        <div class="left-menu">
            <div class="left-header">
                <a href="/"><img alt="Apple">
            </div>
            <div class="left-list">
                <a href="program.html">Program & Schedule</a>
                <a href="rvsp.html">RSVP</a>
                <a href="venue.html">Venue</a>
                <a href="hotels.html">Hotels</a>
                <a href="gifts.html">Gifts (aka Registry)</a>
            </div>
        </div>
        <div class="main">
        </div>
        <div class="notices">
            <p>Copyright &#xa9; 2016 Matthew Meola and Lisa Ing</p>
            <p>Licensee is not affiliated with Harvard University, nor is The Wedding of Matthew Lee Meola and Lisa Hoong Yee Ing a Harvard University program or activity.</p>
            <p>Licensee is one or more human beings and is neither a member of proffered clade Pegasoferae (Nishihara, Hasegawa and Okada 2006) nor clade Afroaves. In any case, it is clear that licensee is not Kosher, even if it is arguable that certain members of Afroaves such as hornbills are, or should be considered, Kosher.</p>
        </div>
    </body>
</html>
